.root{
    -fx-background-color: "B8C4C1";
}

.textField {
    -fx-pref-width: 100;
    -fx-pref-height: 20;
    -fx-font-family: "Constantia";
    -fx-background-color: "B8C4C1";
    -fx-background-radius: 15px;
}
.text-field{
    -fx-background-color: "F3F3EB";
    -fx-font-family: "Constantia";
    -fx-background-radius: 10px;
}
.label{
    -fx-font-size: 22px;
    -fx-text-fill: "B8C4C1";
    -fx-font-family: "Constantia";
    -fx-effect: dropshadow(gaussian,rgb(43, 51, 63) , 3, 2, 0, 0);
    -fx-background-insets: 200;
}

.combo-box{
    -fx-pref-width: 100;
    -fx-pref-height: 20;
    -fx-font-family: "Constantia";
    -fx-background-color: "647C87";
    -fx-background-radius: 15px;
}

.button {
    -fx-background-color: "49515C";
    -fx-font-family: "Constantia";
    -fx-text-fill: "F3F3EB";
    -fx-font-size: 18;
    -fx-padding: 5;
}
.button:hover {
    -fx-background-color: "647C87";
}
.button:pressed {
    -fx-background-color: "49515C";
}

#errorTextFields{
    -fx-border-color: "EF666E";
    -fx-background-radius: 10px;
}